<%- contentFor('title') %>
Admin - Funkoshop

<%- contentFor('main') %>
<body>
    <main>
        <div class="buscador"><i class="fa-solid fa-magnifying-glass"></i><input type="text"
                placeholder="codigo, nombre o categoria"></div>
        <h2>LISTADO DE PRODUCTOS</h2><a href="create.html">
            <h3><button>AGREGAR <i class="fa-solid fa-square-plus" id="trash"></i></button></h3>
        </a>
        <table>
          
            <tr>
                <th>ID</th>
                <th>Codigo</th>
                <th>Nombre del Producto</th>
                <th>Categoria</th>
                <th></th>
                <th></th>
            </tr>
            
            <% for (let i = 0; i < productos.length; i++) { %>
            
                <tr>
                    <td><%= productos[i].id %></td>
                    <td><%= productos[i].sku %></td>
                    <td><%= productos[i].nombre %></td>
                    <td>STARWARS</td>
                    <td><a href="edit.html"><i class="fa-solid fa-pen" id="pen"></i></a></td>
                    <td><i class="fa-solid fa-trash-can" id="trash"></i></td>
                </tr>

            <% } %>

        </table>
    </main>
</body>
