<%- contentFor('title') %>
Admin - Funkoshop

<%- contentFor('main') %>
<body>
    <main class="container">
  

        <h2 class="admin__title">LISTADO DE PRODUCTOS</h2><a href="/admin/productos/create">
            <h3>
                <button class="item__button">Nuevo Producto
                     <i class="fa-solid fa-square-plus" id="trash"></i>
                </button>
            </h3>
        </a>

        <div class="buscador">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="codigo, nombre o categoria">
        </div>
        
        <table>
          
            <tr>
                <th>ID</th>
                <th>Codigo</th>
                <th>Nombre del Producto</th>
                <th>ID Categoria</th>
                <th></th>
                <th></th>
            </tr>
            
            <% for (let i = 0; i < productos.length; i++) { %>
            
                <tr>
                    <td><%= productos[i].id %></td>
                    <td><%= productos[i].sku %></td>
                    <td><%= productos[i].nombre %></td>
                    <td><%= ((categorias.find(categoria=> categoria.id ===
                        productos[i].CategoryId)).nombre) %></td>
                    <td>
                        <a href="/admin/productos/edit/<%= productos[i].id %>">
                            <i class="fa-solid fa-pen" id="pen"></i>
                        </a>
                    </td>
                    <td>
                        <form class="form-delete" action="/admin/productos/delete/<%= productos[i].id %>?_method=DELETE" method="post">
                        <button type="submit"><i class="fa-solid fa-trash-can" id="trash"></i></button>
                        </form>
                    </td>
                </tr>

            <% } %>

        </table>
    </main>
</body>
