<%- contentFor('title') %>
Admin - Funkoshop

<%- contentFor('main') %>
<body>
    <main class="container">
        <h2 class="admin__title">LISTADO DE CATEGORIAS</h2>
        <a href="./categorias/create">
            <h3>
                <button class="item__button">Nueva Categoria
                     <i class="fa-solid fa-square-plus" id="trash"></i>
                </button>
            </h3>
        </a>
        <div class="buscador">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="codigo, nombre o categoria">
        </div>

        <table>
          
            <tr>
                <th>ID</th>
                <th>Nombre Categoria</th>
                <th></th>
                <th></th>
            </tr>
            
            <% for (let i = 0; i < categorias.length; i++) { %>
            
                <tr>
                    <td><%= categorias[i].id %></td>
                    <td><%= categorias[i].nombre %></td>
                    <td>
                        <a href="categorias/edit/<%= categorias[i].id %>">
                            <i class="fa-solid fa-pen" id="pen"></i>
                        </a>
                    </td>
                    <td>
                        <form class="form-delete" action="/admin/categorias/delete/<%= categorias[i].id %>?_method=DELETE" method="post">
                        <button type="submit"><i class="fa-solid fa-trash-can" id="trash"></i></button>
                        </form>
                    </td>
                </tr>

            <% } %>

        </table>
    </main>
</body>